<!DOCTYPE html>
<html style="background: #F7F7F7;font-family: sans-serif;">
    <head>
        <meta charset="utf-8">
        <title>Verify Account</title>
    </head>
    <body style="background: #F7F7F7;font-family: sans-serif; font-size: 14px;">
      <div style="max-width: 600px; margin: 7% auto; padding-top:30px; color: #777777;">

          <div style="padding: 20px;border-top: 0; line-height: 1.5;">
            <p><h1 align='center' style='color:#777777;'>{{title}}</h1></p>

            <p><h3 align='center' style='color:#888888;'>{{text}}</h3></p>

          </div>

            <p style="margin-top: 20px;margin-bottom: -5px;font-size: 80%;color: #AAA;text-align: center;">&copy; MeWash</p>
      </div>
    </body>
</html>